// #dialog
// 	top -350px

.dialog-styles
	font-family inherit
	font-size inherit
	width 500px
	// top -350px
	
.ui-dialog-titlebar,
.ui-widget-header
	border none
	backgound none
	
.ui-corner-all
	border-radius none
		
.ui-widget-content
	border 1px solid #ebebeb
	background-color #fafafa
	box-shadow rgba(0,0,0,0.149) 0px 1px 1px 0px, rgba(0,0,0,0.098) 0px 1px 2px 0px
	
#dialog > form
	background-color none
	border none
	box-shadow none
	margin-top none