@import 'stylus/*'

.hide
	display none

body
	margin 0 auto
	background-color #eee
	font-family 'Raleway', sans-serif
	letter-spacing 2px
	
	display flex
	flex-direction column
	

.container
	width 100%
	margin 0 auto
	padding 0

a 
	color #636363
	
a:hover
	text-decoration none	
	
.flex-row > a:hover
	color #636363
	font-weight 800

.project-details
	background-color white

.subnav-box
	border-right 1px solid #eee
	border-left  1px solid #eee
	padding 1em 3em 0.5em

.total-hours
	float right
	bottom 0

.sidebar
	background #eee
	margin-top 1px

header
	background background-dark
	color #fff

img 
	margin 0.5em 0
ul
	margin: 0

li
	list-style none

ul > ul > li
	padding 1em

.btn
	margin 4px

.logout
	color #fafafa
	margin 0 2em 0 0
	
.logout:hover
	color #fafafa	

.task-column
	margin 10px 
	
.task-box
	background-color white
	margin 3px
	padding 2em

.toggle:hover
	cursor pointer
	font-weight 800
	
	& > .slide
		font-weight normal
	
.task-box p
	font-size 15px

.task-box a
	font-size 15px

.task-box .btn
	padding 4px
	margin 2px

.bold
	font-weight 800
	

	




.sidebar ul
	margin none
	padding 0

.columns
	margin 0 10px

h2
	margin 0
	color #fafafa
	font-size 14px

.sidebar-list
	background background-dark 
	margin-bottom 1px
	width 100%
	padding 2em

.sidebar-list a
	color #eee

h2.sidebar-list:hover
	background-color hover
h3
	text-align center
	padding 1em

h1
	margin 10px 0 20px 0
	font-size 2em
	
.countdown
	font-size 2em
	font-style bold
	color orange
	text-align center

.countdown-text
	font-size 16px
	
#countdown span 
	margin 0 0.75em	

.btn
	border-radius 0

.btn-circle
	border-radius 50%


.task-box p .time-display 
	color #aaa
	font-size 12px
	margin 10px 0 0 0


footer
	height 4em
	margin 4em 0 0 0
	